# Core Libraries
numpy
pandas
scikit-learn
matplotlib
seaborn

# Machine Learning Libraries
tensorflow
keras
xgboost
imbalanced-learn

# Hyperparameter Tuning and Optimization
optuna
keras-tuner

# API and Serving
fastapi
uvicorn
pydantic

# Jupyter Notebook
jupyter

# Additional Utilities
scipy
joblib
